body {
    background: #111;
    color: white;
}


.cell {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    border: 3px solid rgb(120, 118, 226);
}
.block {
    background: linear-gradient( rgb(152, 152, 190) ,rgb(202, 182, 182));
    cursor: pointer;
}
table {
    border-spacing: 10px;
}
.board {
    padding-top: 60px;
    width: 600px;
    margin: auto;
}
.Board-blocks {
    background: linear-gradient( rgb(175, 200, 214) ,rgb(202, 182, 182));
    cursor: pointer;
    /* width: 50px;
    height: 50px; */


}